In [35]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
#error for the statement from sklearn.model_selection import train_test_split. use now as follows
from sklearn.cross_validation import train_test_split
from sklearn.externals import joblib

In [36]:
df = pd.read_csv('C:/Users/akshay_gane/Desktop/pract/hiredata.csv')
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         NaN                7   72000
7          11         7.0                8   80000

In [37]:
tc_med = df['test_score'].median()
tc_med

8.0

In [38]:
df['test_score'] = df['test_score'].fillna(tc_med)
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [39]:
X = df[['experience','test_score','interview_score']]
Y = df[['salary']]

In [40]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
len(X_train)

6

In [47]:
lmodel = LinearRegression()

In [48]:
lmodel.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [49]:
lmodel.predict(X_test)

array([[ 44753.06510102],
       [ 56600.24175445]])

In [50]:
Y_test

   salary
1   45000
2   60000

In [51]:
lmodel.score(X_test, Y_test)
#this is just random data. in order to improve score the parameters must be tuned i.e. scaled and transformed on multiple run it can improve score too

0.89671704024405807

In [52]:
joblib.dump(lmodel, 'C:/Users/akshay_gane/Desktop/pract/mod_job')

['C:/Users/akshay_gane/Desktop/pract/mod_job',
 'C:/Users/akshay_gane/Desktop/pract/mod_job_01.npy',
 'C:/Users/akshay_gane/Desktop/pract/mod_job_02.npy',
 'C:/Users/akshay_gane/Desktop/pract/mod_job_03.npy',
 'C:/Users/akshay_gane/Desktop/pract/mod_job_04.npy']

In [54]:
mj = joblib.load('C:/Users/akshay_gane/Desktop/pract/mod_job')
mj.predict([[2,7,8]])

array([[ 52799.8618546]])