In [24]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression

In [25]:
df = pd.read_csv("C:/Users/akshay_gane/Desktop/pract/insurance.csv")
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [26]:
X = df[['age']]
#y = df[['bought_insurance']]
y = df.bought_insurance

In [27]:
X_train, X_test, y_train, y_test = train_test_split(df[['age']], df.bought_insurance,test_size=0.2)

In [28]:
X_train

    age
14   49
21   26
10   18
26   23
6    55
7    60
11   28
2    47
15   55
23   45
24   50
9    61
12   27
19   18
3    52
22   40
18   19
17   58
0    22
8    62
5    56

In [29]:
logmod = LogisticRegression()
logmod.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [30]:
X_test

    age
16   25
20   21
25   54
13   29
1    25
4    46

In [31]:
y_pred = logmod.predict(X_test)
y_pred

array([0, 0, 1, 0, 0, 1], dtype=int64)

In [32]:
logmod.predict_proba(X_test)

array([[ 0.5894616 ,  0.4105384 ],
       [ 0.63686469,  0.36313531],
       [ 0.25188926,  0.74811074],
       [ 0.54033678,  0.45966322],
       [ 0.5894616 ,  0.4105384 ],
       [ 0.33437168,  0.66562832]])

In [33]:
logmod.score(X_test, y_test)

0.83333333333333337