In [22]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import math
from sklearn.externals import joblib

In [23]:
df = pd.read_csv("C:/Users/akshay_gane/Desktop/pract/hiredata.csv")
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         NaN                7   72000
7          11         7.0                8   80000

In [24]:
ts_median = df.test_score.median()
df['test_score'] = df['test_score'].fillna(ts_median)
#df['test_score'] = math.floor(df['test_score'])
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [25]:
mlrmodel = linear_model.LinearRegression()
mlrmodel.fit(df[['experience','test_score','interview_score']],df['salary'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [26]:
mlrmodel.predict([[4,7,6]])

array([ 55140.4657933])

In [27]:
joblib.dump(mlrmodel,'C:/Users/akshay_gane/Desktop/pract/model_joblib')

['C:/Users/akshay_gane/Desktop/pract/model_joblib',
 'C:/Users/akshay_gane/Desktop/pract/model_joblib_01.npy',
 'C:/Users/akshay_gane/Desktop/pract/model_joblib_02.npy']

In [28]:
modjob = joblib.load('C:/Users/akshay_gane/Desktop/pract/model_joblib')
modjob.predict([[4,7,6]])

array([ 55140.4657933])