In [106]:
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import train_test_split

In [107]:
df = pd.read_csv('C:/Users/akshay_gane/Desktop/pract/empsalary.csv')
df

       company                  job     degree  salary_more_than_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive  bachelors                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager    masters                      0
9   abc pharma     business manager  bachelors                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [108]:
le_comp = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [109]:
inputs = df.drop('salary_more_than_100k', axis='columns')
inputs.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [110]:
output = df['salary_more_than_100k']
output.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_than_100k, dtype: int64

In [111]:
inputs['comp_n'] = le_comp.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [112]:
inputs.head()

  company                  job     degree  comp_n  job_n  degree_n
0  google      sales executive  bachelors       2      2         0
1  google      sales executive    masters       2      2         1
2  google     business manager  bachelors       2      0         0
3  google     business manager    masters       2      0         1
4  google  computer programmer  bachelors       2      1         0

In [113]:
inputs_n = inputs.drop(['company', 'job', 'degree'],axis='columns')
inputs_n

    comp_n  job_n  degree_n
0        2      2         0
1        2      2         1
2        2      0         0
3        2      0         1
4        2      1         0
5        2      1         1
6        0      2         0
7        0      1         0
8        0      0         1
9        0      0         0
10       1      2         0
11       1      2         1
12       1      0         0
13       1      0         1
14       1      1         0
15       1      1         1

In [114]:
output

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_than_100k, dtype: int64

In [115]:
X = inputs_n
y = output
X_train, X_test, y_train, y_test = train_test_split(inputs_n, output, test_size = 0.2)
len(X_train)

12

In [116]:
len(y_test)

4

In [117]:
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [118]:
model.predict(X_test)

array([0, 1, 1, 1], dtype=int64)

In [119]:
model.score(X_test, y_test)

0.75

In [122]:
model.predict([2,1,1])

C:\Program Files\Anaconda3\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([1], dtype=int64)